
* {
    border: none;
    border-radius: 0;
    font-family: Cartograph CF Nerd Font, monospace;
    font-weight: bold;
    font-size: 14px;
}

tooltip {
    border-radius: 10px;
    border-width: 2px;
    border-style: solid;
}
#workspaces button {
    opacity: 0.4;
    padding: 5px; 
    padding-right: 8px;
    margin-right: 5px;
    margin-top: 2px;
    margin-bottom: 2px;
}

#workspaces button.active {
     opacity: 0.8;
}

#workspaces button.focused {
}

#workspaces button.urgent {
}

#workspaces button:hover {
   text-shadow: inherit;
   box-shadow: inherit;
   opacity: 1;
}

#language,
#idle_inhibitor,
#custom-language,
#custom-updates,
#custom-caffeine,
#custom-weather,
#window,
#clock,
#battery,
#pulseaudio,
#network,
#workspaces,
#tray,
#backlight {
    margin: 3px 0px;
}

#tray {
    margin-right: 10px;
}

#workspaces {
    margin-left: 10px;
    padding-right: 0px;
    padding-left: 5px;
}

#window {
    margin-left: 60px;
    margin-right: 60px;
}

#clock {
    margin-left: 5px;
}

#battery {
    margin-right: 10px;
}

#idle_inhibitor {
    margin-left: 2px;
    margin-right: 10px;
    padding-right: 16px;
}

#language {
    margin-left: 0px;
}
