
* {
    border: none;
    border-radius: 0;
    font-family: Cartograph CF Nerd Font, monospace;
    font-weight: bold;
    font-size: 14px;
    min-height: 0;
}

window#waybar {
    background: rgba(21, 18, 27, 0);
    color: #22aaaa;
}

tooltip {
    background: #1e1e2e;
    border-radius: 10px;
    border-width: 2px;
    border-style: solid;
    border-color: #11111b;
}
#workspaces button {
    padding: 5px; 
    padding-right: 8px;
    color: #313244;
    margin-right: 5px;
    margin-top: 2px;
    margin-bottom: 2px;
}

#workspaces button.active {
    color: #22aaaa;
}

#workspaces button.focused {
    /*color: #992020;*/
    background: #10101a;
    border-radius: 10px;
}

#workspaces button.urgent {
    color: #22aaaa;
    border-radius: 10px;
}

#workspaces button:hover {
   text-shadow: inherit;
   box-shadow: inherit;
   border-radius: 20px;
   background: #10101a;

}

#language,
#idle_inhibitor,
#custom-language,
#custom-updates,
#custom-caffeine,
#custom-weather,
#window,
#clock,
#battery,
#pulseaudio,
#network,
#workspaces,
#tray,
#backlight {
    background: #1e1e2e;
    padding: 0px 10px;
    margin: 3px 0px;
    margin-top: 10px;
    border: 1px solid #181825;
}

#tray {
    border-radius: 10px;
    margin-right: 10px;
}

#workspaces {
    background: #1e1e2e;
    border-radius: 10px;
    margin-left: 10px;
    padding-right: 0px;
    padding-left: 5px;
}

#custom-caffeine {
    border-radius: 10px 0px 0px 10px;
    border-right: 0px;
    margin-left: 10px;
}

#custom-language {
    border-left: 0px;
    border-right: 0px;
}

#custom-updates {
    border-left: 0px;
    border-right: 0px;
}

#window {
    border-radius: 10px;
    margin-left: 60px;
    margin-right: 60px;
}

#clock {
    border-radius: 10px 0px 0px 10px;
    margin-left: 5px;
    border-right: 0px;
}

#network {
    border-left: 0px;
    /*border-right: 0px;*/
    border-radius: 10px 0px 0px 10px;
}

#pulseaudio {
    border-left: 0px;
    border-right: 0px;
}

#pulseaudio.microphone {
    margin-right: 5px;
    border-radius: 0 10px 10px 0;
}

#battery {
    border-radius: 0 10px 10px 0;
    margin-right: 10px;
    border-left: 0px;
}

#custom-weather {
    border-right: 0px;
    margin-left: 0px;
}

#idle_inhibitor {
    border-right: 0px;
    margin-left: 0px;
    padding-right: 14px;
}

#language {
    border-radius: 0px 10px 10px 0px;
    border-right: 0px;
    margin-left: 0px;
}
